:root {
  --body-color: 17 24 39;
  
  --font-color: 255 255 255;
  --accent-font-color: 170 170 170;  
  --highlight-color: 192 124 63;
  
  --theme-background: 10 10 10;
  
  --theme-light: 0 0 0;
  --theme-medium: 0 0 0;
  --theme-dark: 0 0 0;
  
  --gradient-color-1: 150 214 225;  
  --gradient-color-2: 179 229 207;
  --linear-gradient: linear-gradient(to right, rgb(var(--gradient-color-1)), rgb(var(--gradient-color-2)));
}

body {
  background-color: #fff;
  margin: 0px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--theme-background));
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

h1, h2, h3, h4, input, select, button, span, a, p {
  color: rgb(var(--font-color));
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

button, a, input {  
  outline: none;
}

.highlight {
  color: rgb(var(--highlight-color));
}

.gradient {  
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

#phone {
  background-color: #E54787;
  box-shadow: rgb(17, 16, 16) 0px 8px 24px;
  height: 851px;
  width: 393px;  
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}

#main-wrapper {
  height: 100%;
  overflow: auto;
}

#main {
  height: 100%;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: #DCCDCD;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgb(255 255 255 / 10%);
}

#nav > button {
  padding: 0.5rem 1rem;  
  border-radius: 0.25rem;
  position: relative;
  color: #000000;
}

#nav > button.active:after {
  content: "";
  height: 0.25rem;
  width: 1.5rem;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  translate: -50%;
  background: #E54787;
  color: #E54787;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#nav > button:hover,
#nav > button:focus-visible {
  background-color: rgb(255 255 255 / 10%);
}

#nav > button > i {
  width: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#header-background-image {
  width: 100%;
  display: flex;
  z-index: 1;
  left: 3px;
  top: 3px;
  padding-right: 6px;
  position: relative;
}

#header-background-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#header-items {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 3;
  padding: 0.5rem 1rem;
  overflow: auto;
  /* background: linear-gradient(to bottom, rgb(34, 123, 66) 0%, rgb(10 10 10) 40%, transparent 40%); */
}

#user-box {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  margin-left: 4px;
  margin-right: 4px; /* Sesuaikan dengan jarak yang diinginkan dari elemen sebelumnya */
  font-size: 1rem;
  margin-top: 20px; /* Tambahkan margin ke atas sesuai kebutuhan */
}

.box {
  margin-top: 12px;
  margin-left: 2px;
  background-color: #f0f0f0; /* Warna latar belakang */
  /* border: 1px solid #ccc; Tepi dengan garis tipis */
  padding: 10px; /* Ruang di dalam kotak */
  padding-right: 2px;
  /* border-radius: 5px; Sudut membulatkan */
  width: 393px; /* Lebar kotak */
  height: 800px; /* Tinggi kotak */
  justify-content: space-between;
}

.box-isi {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ABC9D6; /* Warna latar belakang */
  border: 1px solid #ccc; /* Tepi dengan garis tipis */
  padding: 10px; 
  border-radius: 5px; /* Sudut membulatkan */
  width: 368px; /* Lebar kotak */
  height: 115px; /* Tinggi kotak */
}

.box-isi > p {
  color: #000;
}

.box-kecil > p {
  color: #000;
  font-size: small;
}

.box-kecil{
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #7EC0D5; /* Warna latar belakang */
  border: 1px solid #ccc; /* Tepi dengan garis tipis */
  padding: 10px; 
  border-radius: 5px; /* Sudut membulatkan */
  width: 180px; 
  height: 133px; 

}

.box-kecil-image {
  width: 50px;
  position: relative;
}
.header-item-image {
  position: relative;  
}

.header-item-image:after {
  content: "";
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
  position: absolute;
  left: 0px;
  top: 0px;  
  z-index: -1;
  background-color: white;
  margin: -0.25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-item-image > img {
  width: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 0.4rem;
}

.header-item-content > .label {
  display: flex;  
}

.header-item-content > .label > p {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 0.25rem;
}

#body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#body-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

#background-gradient {
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #fff;
  opacity: 0.15;
  filter: blur(3rem);
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0rem 1rem;
}

/* #search {
  height: 3.5rem;
  position: relative;
  background: linear-gradient(to right, rgb(var(--gradient-color-1)), rgb(var(--gradient-color-2)));
  border-radius: 0.4rem;
} */

#search {
  height: 2rem; /* Sesuaikan tinggi sesuai keinginan */
  width: 300px; /* Sesuaikan lebar sesuai keinginan */
  position: relative;
  background: linear-gradient(to right, rgb(var(--gradient-color-1)));
  border-radius: 0.2rem; /* Mengurangi sudut sudut */
  left: 4; /* Memastikan elemen berada di kiri */
  margin-top: 10px;
}

#search-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  inset: 2px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.3rem;
  backdrop-filter: blur(0.75rem);
}

#search-input > i {
  width: 1.5rem;
  padding: 0rem 0.25rem;
  color: rgba(0, 0, 0, 0.85); 
  text-align: center;
} 

#search-input > input {
  width: 100%;
  flex-grow: 1; 
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
}

#search-input > button {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

#search-input > button > i {
  color: rgba(0, 0, 0, 0.85); 
}

#search-input > button:is(:hover, :focus-visible) {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

#search-input > input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.header i.fa-bell {
  float: right;
}

#search-categories {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
  overflow: auto;
}


#search-categories > button {
  flex-shrink: 0;
  background-color: rgb(255 255 255 / 5%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: white; 
  font-size: 0.75rem;
  font-weight: 500;
}

#location > button {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-left: 2.25rem;
  position: relative;
}

#location > button:after {
  content: "";
  height: 0.75rem;
  width: 0.5rem;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: -1.25rem;
  margin-top: 0.25rem;
  border-left: 2px solid rgb(255 255 255 / 40%);
  border-bottom: 2px solid rgb(255 255 255 / 40%);
  border-bottom-left-radius: 0.3rem;
}

#location > button > :is(i, p) {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 0.75rem;  
}

#location > button > i {
  height: 100%;
}

#location > button > p {
  color: rgb(var(--font-color) / 75%);
  font-weight: 500;
}

#ad {
  display: flex;
  border: 1px solid rgb(255 255 255 / 10%);
  padding: 0.25rem;
  margin: 0rem 1rem;
  border-radius: 0.25rem;
}

#ad > img {
  width: 100%;
  border-radius: inherit;
}

#also-like {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0rem 1rem;
}

#also-like > h3 {
  font-size: 0.9rem; 
}

#also-like-items {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 1fr);
}

#also-like-items > button { 
  display: flex;
  aspect-ratio: 1;
}

#also-like-items > button > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

@media(max-width: 500px) {
  body {
    overflow: auto;  
  }
  
  #phone {
    height: 100vh;
    display: flex;
    width: 100%;
    margin: 0px auto;
  }
  
  #main-wrapper {
    width: 100%;
    flex-grow: 1;
  }
}